.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

th {
  text-align: left;
}

.survey {
  text-align: center;
  border-style: solid;
  border-color: gray;
  padding: 1%, 1%;
}

.question {
  padding-top: 1%;
  padding-bottom: 1%;
}

.body {
  background-color: lightred;
}