.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

th {
  text-align: left;
}

.survey {
  border-style: solid;
  border-color: gray;
  margin: 0 auto;
  width: 50%
}

.question {
  padding-top: 1%;
  padding-bottom: 1%;
}

body {
  text-align: center;
}
