
<h1 class="title">Your Surveys</h1>

<% @survey.each do |survey| %>
  <div class="survey">

  <h3 class="survey_name"><%= survey.name %></h3><br>

  <% survey.questions.each do |question| %>
  <div class="question">
    <%= question.text %><br>
  </div>
  <% end %>
