<div class="container">
  <h1>Survey Gorilla!</h1>
  <h3>Welcome!</h3>

<!-- CR No sessions in view - use instance variables or helper methods -->
  <% if session[:message] %>
  <p> <%= session[:message] %> </p>
  <% end %>

  <% if session[:logged_in] %>
   <form id="sign-out" method="post" action="/sessions">
    <input name="_method" type="hidden" value="delete" />
    <input class="submit" id="out-button" type="submit" value="Sign Out">
  </form>



  <% else %>
<div class="sign-up-div">
 <form id="sign-up" method="post" action="/users">
    <label class="label" for="username">Name</label>
    <input type="text" name="username" placeholder="e.g., joe" >
    <br>

    <label class="label" for="password">Password</label>
    <input type="password" name="password" placeholder="6 or more characters">
    <br>

    <input class="submit" type="submit" value="Sign Up">
  </form>
</div>

<div class="sign-in-div">
 <form id="sign-in" method="post" action="/sessions">
    <label class="label" for="username">Name</label>
    <input type="text" name="username" placeholder="e.g., joe" >
    <br>

    <label class="label" for="password">Password</label>
    <input type="password" name="password" placeholder="6 or more characters">
    <br>

    <input class="submit" type="submit" value="Sign In">
  </form>
</div>

  <% end %>

