<form action='/surveys' method="post">
  <input type="text" name="title"/>
  <input type="text" name="question"/>
  <input type="text" name="choice1"/>
  <input type="text" name="choice2"/>
  <input type="submit" value="create survey"/>
</form>