<form action='/<%= @id %>/surveys' method="post">
   Title: <input type="text" name="title"/><br>
   <input type="text" id="question_num" name="quest_num">Number of Questions: <br />
    <a href="#" id="questions">Add Questions</a>
  <div id="more_qs">
  </div>
  <input type="submit" value="Make survey!"/>
</form>

