<form action='/surveys' method="post">
   <input type="text" id="question_num" name="questions">Number of Questions: <br />
    <a href="#" id="questions">Add Questions</a>



  <div id="more_qs"/>
</form>

