<form action='/<%= @id %>/surveys' method="post">
   Title: <input type="text" name="title"/><br>
  Number of Questions: <input type="text" id="quest_num" name="quest_num">
    <a href="#" id="questions">Add Questions</a>
  <div id="more_qs">
  </div>
  <br><input type="submit" value="Make survey!"/>
</form>

